body {
  background-image: url("../img/airport.jpg");
  background-size: contain;
}

#pageHeader {
  color: white;
}

.response {
  display: none;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #67C67D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.head {
  text-align: center;
}
